body { 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
} 
 
.container { 
    text-align: center; 
    width: 60%; 
} 
 
.progress-section { 
    display: block; 
    margin-bottom: 30px; 
} 
 
h1 { 
    margin-bottom: 20px; 
    font-size: 2em; 
    color: #333; 
} 
 
p { 
    margin-bottom: 20px; 
    font-size: 1em; 
    color: #555; 
} 
 
.progress-bar { 
    width: 100%; 
    max-width: 500px; 
    height: 20px; 
    background-color: #ddd; 
    overflow: hidden; 
    margin: 0 auto;  
} 
 
.progress-main { 
    width: 0%;  
    height: 100%; 
    background-color: #3498db; 
}

.progress-m1 { 
    width: 0%;  
    height: 100%; 
    background-color: #3498db; 
}

.progress-m2 { 
    width: 0%;  
    height: 100%; 
    background-color: #3498db; 
}

.progress-m3 { 
    width: 0%;  
    height: 100%; 
    background-color: #3498db; 
}

.progress-m4 { 
    width: 0%;  
    height: 100%; 
    background-color: #3498db; 
}

.progress-m5 { 
    width: 0%;  
    height: 100%; 
    background-color: #3498db; 
}

.progress-m6 { 
    width: 0%;  
    height: 100%; 
    background-color: #3498db; 
}
